.profile--form__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  position: relative;
}

.profile--form__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
}

.profile--form__item__text {
  color: var(--color-main-text);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: left;
}

.profile--form__item__input {
  border: none;
  background-color: transparent;
  width: max-content;
  min-width: 10ch;
  max-width: 100%;
  text-align: right;
}
