<div class='profile--form__item'>
  <p class='profile--form__item__text'>{{label}}</p>
  <input
    placeholder='{{placeholder}}'
    type='{{type}}'
    name='{{name}}'
    class='profile--form__item__input'
  />
</div>