 {{#if isActive}}
 <div class="popup-add-user">
    <h2 class="popup-add-user__text">Добавить пользователя</h2>
    <div class="popup-add-user__inputs">
      {{> Input label="Логин"}}
    </div>
    <div class="popup-add-user__buttons">
    {{> Button text="Добавить"}}
    </div>
</div>
{{/if}}