<main>
  <nav>
    <ul>
      <li><a href='#' page='login'>Login</a></li>
      <li><a href='#' page='signin'>signin</a></li>
      <li><a href='#' page='chat'>chat</a></li>
      <li><a href='#' page='profile'>profile</a></li>
      <li><a href='#' page='profileChangeData'>Profile Change Data</a></li>
      <li><a href='#' page='serverError'>500</a></li>
      <li><a href='#' page='clientError'>404</a></li>
    </ul>
  </nav>
</main>