{{#if isActive}}
  <div class='attach-popup'>
    <div class='attach-popup-message__item'>
      <img
        src='/addPhotoOrVideo.svg'
        alt='загрузить фото или видео'
        class='attach-popup-message__item__img'
      />
      <p class='attach-popup-message__item__text'>
        Фото или Видео
      </p>
    </div>

    <div class='attach-popup-message__item'>
      <img src='/addFile.svg' alt='загрузить Файл' class='attach-popup-message__item__img' />
      <p class='attach-popup-message__item__text'>
        Файл
      </p>
    </div>

    <div class='attach-popup-message__item'>
      <img src='/addLocation.svg' alt='загрузить Локацию' class='attach-popup-message__item__img' />
      <p class='attach-popup-message__item__text'>
        Локация
      </p>
    </div>
  </div>
{{/if}}