.login-form__header {
  margin-bottom: 40px;
}

.login-form__header__title {
  color: rgb(30, 30, 30);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}
