<div class='change-setting-popup'>
  <div class='change-setting-popup__item'>
    <img src='/addUser.svg' alt='Добавить пользователя' class='change-setting-popup__item__icon' />
    <p class='change-setting-popup__item__text'>Добавить пользователя</p>
  </div>

  <div class='change-setting-popup__item'>
    <img
      src='/deleteUsers.svg'
      alt='Удалить пользователя'
      class='change-setting-popup__item__icon'
    />
    <p class='change-setting-popup__item__text'>Удалить пользователя</p>
  </div>

</div>