<div class='profile'>
  <input type='file' class='profile__avatar' name='avatar' />
  <div class='profile__icon'>
    <img src='{{srcAvatar}}' alt='Фото профиля' class='profile__icon__img' />
  </div>
  {{#if name}}
    <h2 class='profile--name'>{{name}}</h2>
  {{/if}}
</div>