.active {
  color: rgb(15, 33, 78);
}

.link {
  text-decoration: none;
  background: none;
  border: none;
  outline: none;

  color: var(--color-primary-blue);
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0%;
}
