<div class="chat__messages-body">
  <div class="chat__messages-icon"></div>
  <div class="chat__messages-body__text">
    <p class="chat__messages-body__text__name">{{name}}</p>
    <p class="chat__messages-body__text__message">{{message}}</p>
  </div>
  <div class="chat__messages-body__info">
    <p class="chat__messages-body__info__time">{{time}}</p>
    <div class="chat__messages-body__info__count">{{count}}</div>
  </div>
</div> 
