<div class={{styles.container}}>
    <form class={{styles.login-form}} autocomplete="off">
        {{> FormHeader name="Регистрация"}}
        <div class={{styles.login-form__inputs}}>
        {{> Input label="Почта" type="email"}}
        {{> Input label="Логин" type="text"}}
        {{> Input label="Имя" type="text"}}
        {{> Input label="Фамилия" type="text"}}
        {{> Input label="Телефон" type="tel"}}
        {{> Input label="Пароль" type="password"}}
        {{> Input label="Пароль (еще раз)" type="password"}}
        </div>
        <div class={{styles.buttonArea}}>
            {{> Button text="Зарегестрироваться" }}
            {{> Link text="Войти" href="#" }}
        </div>
    </form>
</div>